header{
  width: 100%;
  height: auto;

  .header-top{
    display: flex;
    justify-content: space-between;
    .top-logo{
      font-size: 40px;
      width: 230px;
      height: 100px;
      padding: 20px;
      background-image: url("8736.jpg");
      background-size: 100px;
      margin: 10px;
    }
    #first-note{
      padding-top: 20px;
      color: cadetblue;
      font-weight: bold;
      font-size: 18px;

      ul{
        font-size: 13px;
        margin-top: 10px;
        li{
          text-align: right;
          padding: 5px;
        }
      }
    }
  }

  .header-bottom{
    #search-list{
      display: flex;
      flex-wrap: nowrap;
      li{
        width: 130px;
        height: 30px;
        text-align: center;
        padding: 3px;
        margin-left: 10px;
        color: black;
        border: solid 3px blue;
        border-radius: 10px;
      }
    }
  }
}

.contents{
  width: 100%;
  height: 600px;
  background-image: url("top-back.png");
  background-size: contain;

  .content{
    position: relative;
    width: 1200px;

    .introduction{
      background-image: url(24f34.jpg);
      border-radius: 20px;
      height: 350px;
      width: 400px;
      position: absolute;
      top: 50px;
      left: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #333333;

      h3{
        position: relative;
        top: 70px;
        left: 50px;
      }

      .contents-list{
        position: relative;
        top: 90px;
        left: 80px;
        font-size: 23px;
        color: #0066FF;
        li{
          padding: 10px;
        }
      }
    }

    .pickup{
      background-image: url(watermark.jpg);
      background-size: contain;
      height: 450px;
      width: 600px;
      border-radius: 20px;
      position: absolute;
      top: 30px;
      right: 30px;
      font-size: 30px;
      font-weight: bold;
      color: #333333;
      .pickup-area{
        position: relative;
        top: 100px;
        left: 50px;
        h3{
          width: 300px;
          margin-bottom: 20px;
          background: linear-gradient(transparent 70%, #00cccc 50%);
        }
        .category-list{
          font-size: 25px;
          color: green;
          li{
            padding-left: 30px;
            padding-bottom: 20px;
          }
          img{
            margin-left: 30px;
          }
        }
      }
    }
  }
}

footer{
  width: 100%;
  height: 100px;
  background-color: black;
}