%header
  .header-top
    .top-logo
      FurimaKK
    #first-note
      ＜はじめての方へ＞
      %ul
        %li このサイトについて
        %li 新規会員登録

  .header-bottom
    %ul#search-list
      %li  商品の検索
      %li  お部屋の検索
      %li ログイン

.contents
  .content
    .introduction
      %h3 Contents
      %ul.contents-list
        %li 自分の部屋へ行く
        %li 商品を出品する
        %li 新商品を見る

    .pickup
      .pickup-area
        %h3 今注目のカテゴリー
        %ul.category-list
          %li アクセサリー
          = image_tag "neckless.jpg", size: "130"
          = image_tag "bankle.jpg", size: "130"
          = image_tag "pias.jpg", size: "130"

%footer

