%header
  .header-left
    .top-logo
      =link_to 'FurimaKK', root_path

  .header-right
    .search-box
      キーワード検索
      %input{name:"word", placeholder:"キーワードを入力してください", type:"text", value:""}
    %ul#search-list
      %li  
        =link_to 'カテゴリー検索', '#'
      %li  
        =link_to 'ニックネーム検索', '#'
      %li 
        - if user_signed_in?
          =link_to 'ログアウト', "#"
        - else
          =link_to 'ログイン', new_user_session_path

.contents
  .content
    .first-note
      %h2 ＜はじめての方へ＞
      %ul
        %li 
          =link_to 'このサイトについて', '#'
        %li 
          =link_to '新規会員登録', '#'
    .introduction
      %h3 Contents
      %ul.contents-list
        %li 
          =link_to '自分の部屋へ行く', '#'
        %li 
          =link_to '商品を出品する', new_good_path
        %li
          =link_to '新商品を見る', '#'

    .pickup
      .pickup-area
        %h3 今注目のカテゴリー
        %ul.category-list
          %li 
            =link_to 'アクセサリー', '#'
          = link_to image_tag("neckless.jpg", size: "130"), "#"
          = link_to image_tag("bankle.jpg", size: "130"), "#"
          = link_to image_tag("pias.jpg", size: "130"), "#"

%footer
  %ul.footer-list
    %li.site-map
      =link_to 'このサイトについて', '#'
    %li.terms
      =link_to '利用規約', '#'
    %li.law
      =link_to '古物営業法に基づく表記', '#'
    %li.privacy-policy
      =link_to 'プライバシーポリシー', '#'
    %li.contact
      =link_to 'お問い合わせ', '#'
    %li.api
      =link_to "#" do
        =icon('fab', 'facebook-square')
    %li.api
      =link_to "#" do
        =icon('fab', 'twitter')
    %li.api
      =link_to "#" do
        =icon('fab', 'instagram')